*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("./netflixbackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width: 100px;
    height: 80px;


}
.navbar{
    margin: 30px;
    padding: 10px;
}
main{
    margin: 200px;
    color: rgb(8, 8, 8);
    padding: 10px;
    text-align: center;
    line-height: 40px;
}
.start{
    padding: 20px;
    margin: 20px;
}


