*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/images.jpeg);
    height: 100vh; 
   background-repeat:no-repeat;
   background-size: cover;
   background-position: center;
}
.container{
    display: flex;
    text-align: center;
}
.left{
    width: 500px;
    height: 250px;
    background-color: rgba(204,246,247,0.5);
    margin-top: 50px;
    margin-left: 20px;
    padding: 20px;
}
.main .right{
    height: 220px;
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
}
.main .right .one{
    width: 200px;
    background-color: rgba(204,246,247,0.5);
    margin-left: 50px;
    color: white;
    padding-top: 50px;
    text-align: center;
}
.right .two{   
    background-color: white;
    padding-left: 10px;
    color: black;
    text-align: left;
    padding-top: 50px;
    width: 500px;
}
.right .two p{
    margin-bottom: 20px;
}
.right .two a{
    text-decoration: none;
    border-style: solid;
    border-color: black;
    padding: 10px;
}